@page "/"
@using AdrianTube2.Models.Movie
@using AdrianTube2.Services
@inject MovieService _movieService
@inject IToastService _toastService

<PageTitle>Movies</PageTitle>

<AuthorizeView>
  <Authorized>
    <MovieList Movies="@movies" />
  </Authorized>
  <Authorizing>
    <p>Authentication in progress...</p>
  </Authorizing>
</AuthorizeView>


@code {
  private List<Movie> movies = new List<Movie>();

  
  protected override async Task OnInitializedAsync()
  {
    @* try { *@
      movies = await _movieService.GetMovies(); 
    @* } catch (Exception) {
      _toastService.ShowError("Unable to retrieve movies.");
    } *@

    base.OnInitialized();
  }
}
```
