@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
  <AppBar />

  <div class="w-100">
    <main class="d-flex">
      <div id="leftNav" class="bg-primary position-fixed start-0 vh-100 d-none d-sm-block" style="top: @MarginTop; min-width: 8.8rem;">
          <NavMenu />
      </div>
      <article style="margin-top: @MarginTop; margin-left: @MarginLeft;" class="content px-4">@Body</article>
    </main>
  </div>
</div>

@code {
  string MarginTop { get; set; } = "54px";
  string MarginLeft { get; set; } = "100px";

  protected override async void OnAfterRender(bool firstRender)
  {
      if (firstRender)
      {
          var height = await JSRuntime.InvokeAsync<int>("getElementHeight", "appbar");

          MarginTop = height + "px";

          var leftNavHeight = await JSRuntime.InvokeAsync<int>("getElementWidth", "leftNav");

          MarginLeft = leftNavHeight + "px";
      }
  }
}


