@inherits LayoutComponentBase

<PageTitle>AdrianTube2</PageTitle>

<div class="page">
  <div class="bg-primary position-sticky start-0 top-0 vh-100">
    <NavMenu />
  </div>

  <div class="w-100" style="overflow-x: hidden">
    <AppBar />
    <main>
      <article class="content px-4">@Body</article>
    </main>
  </div>
</div>


