@inherits LayoutComponentBase

<PageTitle>AdrianTube2</PageTitle>

<div class="page">
  <AppBar />

  <div class="w-100">
    <main style="margin-top: 54px;" class="d-flex">
      <div class="bg-primary position-sticky start-0 vh-100" style="top: 54px;">
          <NavMenu />
      </div>
      <article class="content px-4">@Body</article>
    </main>
  </div>
</div>


