@inherits LayoutComponentBase
@using AdrianTube2.Models.UserModels
@inject IJSRuntime JSRuntime

<div>
  <AppBar />

  <div class="w-100">
    <main class="d-flex">
      <div id="leftNav" class="bg-primary d-none d-sm-block" style="height: calc(100vh - @MarginTop); width: 12rem;">
        <NavMenu />
      </div>
      <article id="main-container" class="content px-4 scroll">@Body</article>
      <MobileNavMenu />
    </main>
  </div>
</div>

@code {
  string MarginTop { get; set; } = "54px";
  [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

  protected override async void OnAfterRender(bool firstRender)
  {
    if (firstRender)
    {
      var height = await JSRuntime.InvokeAsync<int>("getElementHeight", "appbar");

      MarginTop = height + "px";
      await SetTheme();
    }
  }

  private async Task SetTheme()
  {
    var authState = await authenticationState;
    var user = new User(authState);
    var theme = user.UserSettings.Theme;
  
    await JSRuntime.InvokeVoidAsync("setTheme", theme);
  }
}
