<div>
  <nav class="container flex-column">
    <div class="nav-item">
      <NavLink class="nav-link p-2"  href="" Match="NavLinkMatch.Prefix">
        <span class="oi oi-home" aria-hidden="true"></span> Movies
      </NavLink>
    </div>
    @* <div class="nav-item">
      <NavLink class="nav-link p-2" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Shorts
      </NavLink>
    </div>
    <div class="nav-item">
      <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Live
      </NavLink> *@
    @* </div> *@

  </nav>
</div>

@code {

} 
