@using AdrianTube2.Services
@using AdrianTube2.Models.Movie
@using AdrianTube2.state

@inject CommentService CommentService
@inject IToastService ToastService
@inject CommentState CommentState

<Menu @ref="menu" CssClass="@CssClass">
    <li class="dropdown-item" @onclick="Delete">Delete</li>
    <li class="dropdown-item" @onclick="EditMode">Edit</li>
</Menu>
@if (IsShow) {
    <EditComment CommentViewModel="@CommentViewModel" IsShowComment="@IsShow" />
}

@code {
    [Parameter] public string CssClass { get; set; }
    [Parameter] public Comment Comment { get; set; }
    CommentViewModel CommentViewModel { get; set; } = new CommentViewModel();
    bool IsShow { get; set; } = false;
    Menu menu;

    protected override void OnInitialized()
    {
        if (Comment != null) {
            CommentViewModel.Id = Comment.Id;
            CommentViewModel.Comment = Comment.Text;
        }
    }

    async Task Delete()
    {
        try {
            await CommentService.DeleteComment(Comment.Id);
            CommentState.RemoveComment(Comment);
            ToastService.ShowSuccess("Comment deleted successfully");
        } catch (Exception) {
            ToastService.ShowError("Error deleting comment");
        }
    }

    void EditMode()
    {
        IsShow = true;
        menu.ToogleMenu();
    }
}