@inject ICommentService CommentService
@inject IToastService ToastService
@inject ICommentState CommentState

<Menu CssClass="@CssClass">
    <li class="dropdown-item" @onclick="Delete">Delete</li>
    <li class="dropdown-item" @onclick="EditMode">Edit</li>
</Menu>

@if (IsShow) {
    <EditComment CommentViewModel="@CommentViewModel" OnClose="@Close" IsShowComment="@IsShow" />
}

@code {
    [Parameter] public string CssClass { get; set; }
    [Parameter] public Comment Comment { get; set; }
    CommentViewModel CommentViewModel { get; set; } = new CommentViewModel();
    bool IsShow { get; set; } = false;

    protected override void OnParametersSet()
    {
        if (Comment != null) {
            CommentViewModel.Id = Comment.Id;
            CommentViewModel.Comment = Comment.Text;
        }
    }

    void Close() {
        IsShow = false;
    }

    async Task Delete()
    {
        try {
            await CommentService.DeleteComment(Comment.Id);
            CommentState.RemoveComment(Comment);
            ToastService.ShowSuccess("Comment deleted successfully");
            Close();
        } catch (Exception) {
            ToastService.ShowError("Error deleting comment");
        }
    }

    void EditMode()
    {
        IsShow = true;
    }
}