<div class="dropdown position-static @CssClass">
    <button data-bs-auto-close="true" @onclick="ToogleMenu" class="btn-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </button>
    <ul class="dropdown-menu @ShowClass" aria-labelledby="dropdownMenuButton1">
        @ChildContent
    </ul>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; }
    public string ShowClass { get; set; } = "";
    
    public void ToogleMenu()
    {
        if (ShowClass == "")
        {
            ShowClass = "show";
        }
        else
        {
            ShowClass = "";
        }
    }
}