<div @onclick="DecreaseLike" role="button" class="cursor-pointer">
    <i class="oi oi-thumb-down text-danger"></i>
    <span class="ms-1">@DislikesCount</span>
</div>

@code {
    [Parameter]
    public int DislikesCount { get; set; }

    [Parameter]
    public EventCallback DislikeMovie { get; set; }

    public void DecreaseLike()
    {
        DislikeMovie.InvokeAsync();
    }
}