<div @onclick="IncrementLikes" role="button" class="cursor-pointer">
    <i class="oi oi-thumb-up text-primary"></i>
    <span class="ms-1">
        @Count
    </span>
</div>

@code {
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public EventCallback OnLike { get; set; }

    public void IncrementLikes()
    {
        OnLike.InvokeAsync();
    }
}