@inject IJSRuntime JSRuntime

<nav id="mobile-nav" class="position-fixed mobile-nav bg-primary d-sm-none p-2 rounded" aria-label="mobile nav menu">
    <div class="d-flex m-0 gap-2">
        <div class="nav-item">
            <NavLink class="nav-link p-2" href="/movies">
                <span class="oi oi-video pe-2" aria-hidden="true"></span> Movies
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-2" href="shorts">
                <span class="oi oi-play-circle pe-2" aria-hidden="true"></span> Shorts
            </NavLink>
        </div> 
        <div class="nav-item">
            <NavLink class="nav-link p-2" href="subs">
                <span class="oi oi-bell pe-2" aria-hidden="true"></span> Subs
            </NavLink>
        </div> 
    </div>
</nav>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setMobileNavHandler", "main-container", "mobile-nav");
        }
    }
}