@inject NavigationManager NavigationManager

@if (Movie is not null) {
    <div class="d-flex align-self-start gap-3 action-width justify-content-between align-items-center">
        <LikeAndDisLikeButton Movie="@Movie" />
        <ShareButton Text="@NavigationManager.Uri" />
    </div>
}

@code {
    [Parameter]
    public Movie? Movie { get; set; }
}