@using AdrianTube2.Models.Movie

<a href="movie/@movie.Id" 
    class="list-group-item list-group-item-action d-flex gap-2 @ActiveClass"
    @onclick="Click"
    @onmouseover="OnMouseOver" 
    @onmouseout="OnMouseOut">
        <img class="sm-thumbnail" src="@movie.Thumbnail" alt="Thumbnail">
        <h3>@movie.Title</h3>
</a>

@code {
    [Parameter] public Movie movie { get; set; }
    string ActiveClass { get; set; } = "";

    public void OnMouseOver()
    {
        ActiveClass = "active";
    }

    public void OnMouseOut()
    {
        ActiveClass = "";
    }

    public void Click()
    {
        OnSelected.InvokeAsync(movie);
    }

    [Parameter] public EventCallback<Movie> OnSelected { get; set; }
}