@using AdrianTube2.Models.Movie

<a 
    href="movie/@movie.Id" 
    class="dropdown-item d-flex gap-2"
    style="white-space: normal;"
    @onclick="Click">
        <div>
            <img class="sm-thumbnail" src="@movie.Thumbnail" alt="Thumbnail">
        </div>
        <h3>@movie.Title.Truncate(70)</h3>
</a>

@code {
    [Parameter] public Movie movie { get; set; }

    public void Click()
    {
        OnSelected.InvokeAsync(movie);
    }

    [Parameter] public EventCallback<Movie> OnSelected { get; set; }
}