<div class="d-flex gap-2 @ContainerClass">
    <input id="searchMovie" @oninput="Search" placeholder="Search for movie" class="form-control rounded" />
    <IconButton Variant="IconButton.ButtonVariant.Secondary" class="d-flex justify-content-center align-items-center">
        @if (IsLoading) {
            <Loader ClassName="spinner-border-sm" />
        } else {
            <i class="oi oi-magnifying-glass"></i>
        }
    </IconButton>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    [Parameter]
    public bool IsLoading { get; set; }
    [Parameter]
    public string ContainerClass { get; set; }
    public string SearchText { get; set; }

    public async Task Search(ChangeEventArgs e)
    {
        SearchText = e.Value.ToString();
        await OnSearch.InvokeAsync(SearchText);
    }
}